.card-button{
    background: linear-gradient(111.3deg, rgb(74, 105, 187) 9.6%, rgb(205, 77, 204) 93.6%) !important;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color:aliceblue !important;
}
.div-header-event{
    display: flex;
    flex-wrap: wrap;
}
.header-events{
    background: linear-gradient(111.3deg, rgb(74, 105, 187) 9.6%, rgb(205, 77, 204) 93.6%) !important;
    border-color: blueviolet !important;
    border-radius: 10px;
    color: antiquewhite !important;
    width: 100%;
    margin: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}