.filter-drop{
    background: linear-gradient(111.3deg, rgb(74, 105, 187) 9.6%, rgb(205, 77, 204) 93.6%);
    border-color: blueviolet;
    color: antiquewhite;
    width: 93%;
    text-align: center;
    margin-left: 40px;
}
.filter-drop option{
    color: blueviolet;
}