################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventPlanner/.vs/EventPlanner/FileContentIndex
/EventPlanner/.vs/EventPlanner/FileContentIndex
