################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventPlannerBackend/Migrations/
/EventPlannerBackend/wwwroot/Images
/.vs
**/bin/
**/obj/
/.gitignore
