.about-img{
    width: 100%;
    display:flex ;
    flex-wrap: wrap
}
.Img{
    width: 100%;
    height: 1000px;
    opacity: 0.4;
}
.ImgOverlay{
    text-align: center;
}
.about{
    display: flex;
    flex-wrap: wrap;
}
.about-card{
    width: 100%;
}
h1, h6, .about-card, h4{
    text-align: center;
}
.about-form{
    display: flex;
    padding: 40px;
}
.cards-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (max-width: 1300px) {
    .Img{
        height: 1000px;
    }
  }
@media screen and (max-width: 1263px) {
    .Img{
        height: 1500px;
    }
  }
@media screen and (max-width: 800px) {
    .Img{
        height: 1600px;
    }
  }
@media screen and (max-width: 647px) {
    .Img{
        height: 2500px;
    }
  }
@media screen and (max-width: 515px) {
    .Img{
        height: 2600px;
    }
  }
@media screen and (max-width: 400px) {
    .Img{
        height: 2700px;
    }
  }