:root {
  --darkshade: #2d2d32;
}
Body {
  background-color: var(--darkshade) !important;
  color: white !important;
  overflow-x: hidden;
}
.card {
  background-color: var(--darkshade) !important;
  color: white !important;
  border: none;
  margin: 10px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.row {
  display: flex;
}
